<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.music_genre %>
</p>

<h4>List of Singers</h4>

<% if @valley.songs.any? %>
  <ul>
    <% @valley.songs.each do |dino| %>
      <li><%= singer.music_genre %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no singers in this artist.</p>
<% end %>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
