<%= form_for @song do |f| %>

 <ul>
   <% @song.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
 </ul>
  <%= f.label :music_genre %>
  <%= f.text_field :music_genre %>

  <%= f.label :producer_name %>
  <%= f.text_field :producer_name %>

  <%= f.label :image_url %>
  <%= f.text_field :image_url %>

  <%= f.submit (@song.new_record? ? "Create" : "Update") %>

  <%= f.label :artist_id %>
  <%= f.collection_select(:artist_id, Artist.all, :id, :music_genre) %>

<% end %>
