<h1>New Song</h1>
<%= render "form" %>
<%= form_for @song do |f| %>
  <%= f.label :music_genre %>
  <%= f.text_field :music_genre %>

  <%= f.label :producer_name %>
  <%= f.text_field :producer_name %>

  <%= f.label :image_url %>
  <%= f.text_field :image_url %>

  <%= f.submit "Create" %>
<% end %>
